<div class="container mt-4">


<h1>O nás</h1>

<hr class="hr hr-blurry" />

<p>Jsme dvě maminky z Kobylis, které spojila záliba v šití a rády bychom se s Vámi o naše zkušenosti podělily.</p>

<div class="row align-items-md-stretch mt-4">
      <div class="col-md-6">
        <%= image_tag 'Dada uprava.webp', alt: 'Dana', class: 'thumbnail thumbnail-mid' %>
      </div>
      <div class="col-md-6">
      <h2> Dana Dáda Smrčková </h2>
      <p>Stejně jako Fíbí :-) mám od útlého dětství velmi kladný vztah k šití a tvořivým činnostem všeho druhu. Po letech hledání svého místa pod sluncem jsem se našla ve výuce angličtiny, kterou se zabývám od roku 2002 doposud. </p>
<p>
Vždy mě bavilo zkoušet nové věci. Šití v ruce mi už přestalo stačit a chtěla jsem zkusit i obtížnější věci. Jako maminka dvou malých dětí jsem naznala, že věci z mého WISH LISTu prostě v ruce neušiji. A tak jsem několik let hledala parťáka, švadlenku, spřízněnou duši, která by mi šití dovedla jednoduše vysvětlit a naučit a třeba časem i zkusila spolupracovat na kurzech pro obdobně nadšené tvořivce :-)
</p><p>
A POVEDLO SE!!! Potkaly jsme se na kroužku, který Fíbí spoluvedla, a tak jsme teď tady pro vás ve dvojici nadšených švadlenek :-) Nejenom maminky jsou vítány, holky, kluci, tatínci i dědové, babičky, prostě kdokoli, kdo by si rád sám něco vytvořil nebo třeba i opravil...
</p><p>
Jsme tu, řipravené jít do jakékoli výzvy :-) </p>
      </div>
</div>


<div class="row align-items-md-stretch mt-4">
      <div class="col-md-6">
      <%= image_tag 'Fibi.webp', alt: 'Fíbí', class: 'thumbnail thumbnail-mid' %>
      </div>
      <div class="col-md-6">
      <h2> Martina Fíbí Alsterová</h2>
      <p> K ručním pracem jsem měla kladný vztah od dětství, ale až se stěhováním do současného domova se jim skutečně intenzivně věnuji. Mám motto "co můžeš, udělej si sám" a tak jsem se od šití závěsů postupně propracovala k oblečení. Nejprve pro své čtyři děti, pro mě a nakonec i pro manžela. Ráda bych své nadšení z mého koníčku předávala dál. Kromě šití také ráda peču a chodím po horách. </p>
      </div>
</div>


</div>
