<font color="#000000"><font><font size="2"><strong>Obchodní
podmínky:</strong></font></font></font></p><p><font class="wsw-02"><font><font size="2"><strong>1. Úvodní
	ustanovení</strong><br>
Organizátorem
	(dále jen organizátor) <em>Kroužku
	pro domácí švadlenky</em>
	(dále jen kroužek) je Mgr. Dana Smrčková, adresa učebny
	Košťálkova 1104/04, Praha 8, 182 00, IČ: 71639331, nejsme plátci
	DPH.</font></font></font></p><p><font size="2"><font color="#000000"><font>Tyto
smluvní podmínky (dále jen "SP") jsou platné pro </font></font><font color="#000000"><font><em>Kroužek
pro domácí švadlenky </em></font></font><font color="#000000"><font>a
to s účinností 7.</font></font><font color="#ff4000">
</font><font color="#000000"><font>února
2025.</font></font></font></p><p><font class="wsw-02"><font><font size="2"><strong>2. Smluvní
	strany</strong><br>
Smluvními
	stranami jsou organizátor a účastník, kterým může být
	fyzická osoba starší 18 let.</font></font></font><font class="wsw-02"><font><font size="2"></font></font></font></p><p><font class="wsw-02"><font><font size="2"><strong>3. Vznik
	smlouvy</strong><br>
Smlouva
	mezi účastníkem a organizátorem vzniká okamžikem, kdy
	organizátor potvrdil účastníkovi přihlášku na kroužek
	zaslanou účastníkem a zároveň účastník uhradil provozovateli
	cenu kroužku.</font></font></font><font class="wsw-02"><font><font size="2"></font></font></font></p><p><font class="wsw-02"><font><font size="2"><strong>4. Přihláška
	musí obsahovat</strong></font></font></font><font class="wsw-02"><font><font size="2">
	jméno, příjmení, adresu a kontaktní e-mailovou adresu
	účastníka. Přihlášku je možné vyplnit na webových stránkách
	</font></font></font><font class="wsw-02"><font><font size="2">sijemepraha8.webnode.cz</font></font></font><font class="wsw-02"><font><font size="2">
	nebo zaslat e-mailem na adresu </font></font></font><font color="#000080"><font><font size="2">sijeme.praha8@gmail.com</font></font></font><font class="wsw-02"><font><font size="2">.
	Přihlásit se lze i osobně nebo telefonicky.</font></font></font></p><p><font class="wsw-02"><font><font size="2"><strong>5. Potvrzení
	přihlášky</strong> je
	e-mail, kterým organizátor účastníkovi potvrdí uhrazení ceny
	kroužku a který obsahuje podrobnější informace o organizaci
	kroužku a pokyny pro účastníka. Pokud je organizátorovi doručen
	vyšší počet přihlášek do kroužku než 5, má organizátor
	právo přihlášku odmítnout. Rozhodující pro určení pořadí
	zájemců je okamžik připsání ceny kurzu na účet organizátora.
	Odmítnutí přihlášky probíhá e-mailem, osobně nebo
	telefonicky. V případě zamítnutí přihlášky z důvodu
	překročení limitu účastníků, se organizátor zavazuje využít
	poskytnuté přihlašovací újdaje k nabídce místa v jiném
	kroužku.</font></font></font></p><p><font class="wsw-02"><font><font size="2"><strong>6.
 Předmět
	smluvního 
vztahu                                                                                                                                                              
 </strong>Uzavřením
	smlouvy vzniká povinnost organizátora zajistit pořádání
	kroužku. Uzavřením smlouvy vzniká povinnost účastníka
	zaplatit cenu kroužku. Účastník přichází na kroužek včas a
	<strong>splňuje pokyny
	doručené účastníkovi e-mailem</strong>
	současně s potvrzením přihlášky.</font></font></font></p><p><font size="2"><strong>7. </strong></font><font class="wsw-02"><font><font size="2"><strong>Cenové
	a platební podmínky</strong></font></font></font><font class="wsw-02"><font><font size="2">                                                                                                                                                               
 Účastník
se zavazuje uhradit organizátorovi cenu kroužku podle ceníku na
webových stránkách sijemepraha8.webnode.cz a to najednou v plné
výši před zahájením kurzu, pokud se účastník nedohodl s
organizátorem jinak (například na platbu ve dvou splátkách).</font></font></font></p>
<p>
<font color="#000000"><font><font size="2">Organizátor
vystaví účastníkovi daňový doklad formou fakturu. Není-li cena
za účast na kroužku uhrazena, je organizátor oprávněn odmítnout
vstup účastníkovi na místo konání kroužku nebo akce.</font></font></font></p><p><font class="wsw-02"><font><font size="2"><strong>8. Práva
	a povinnosti smluvních stran</strong><br>
Účastníci
	jsou povinni se po celou dobu konání kroužku řídit pokyny
	lektora nebo jeho zástupce. Lektor nebo jeho zástupce na počátku
	kroužku stručně poučí účastníky o základních
	pravidlech bezpečnosti práce s nástroji a materiály používanými
	v průběhu konání kroužku. Účastníci jsou povinni následně
	tato pravidla dodržovat v souladu s platnými právními a
	bezpečnostními předpisy. Organizátor nebo lektor jsou oprávněni
	vyloučit z účasti na konání kroužku účastníka, který
	opakovaně či hrubě porušuje pravidla bezpečnosti práce a
	ochrany zdraví, pokyny lektora nebo dobré mravy, či omezuje
	ostatní účastníky kroužku, v jejich účasti nakroužku. V
	takovém případě nemá účastník nárok na vrácení či slevu
	z ceny za účast na kroužku.</font></font></font></p><p><font size="2"><strong>9. </strong></font><font class="wsw-02"><font><font size="2"><strong>Zrušení
	a změna 
kroužku/lekce                                                                                                                                                                
 </strong></font></font></font><font size="2">Organizátor
	si vyhrazuje právo zrušit konání kroužku nebo změnit termín
	kroužku v následujících případech: <br>
a) méně
	přihlášených účastníků než tři<br>
b) pracovní
	neschopnost ze strany organizátora/ošetřování člena rodiny<br>
c)
	jiná závažná, těžko překonatelná překážka, jejíž
	existenci nemohl organizátor <font color="#000000"><font>předvídat
	(např. havárie v sídle učebny).<br>
d) klient nezaplatil cenu
	kroužku.</font></font></font><font class="wsw-02"><font><font size="2"><br></font></font></font></p><p><font class="wsw-02"><font><font size="2">Organizátor
je povinen o zrušení nebo změně termínu kroužku z těchto
důvodů informovat 	účastníka neprodleně e-mailem a domluvit se
ním na termínu novém nebo vrátit cenu 	kroužku/lekce do 14 dnů
na bankovní účet účastníka.</font></font></font><font class="wsw-02"><font><font size="2"></font></font></font></p><p><font class="wsw-02"><font><font size="2"><strong>10. Odstoupení
	klienta</strong></font></font><font><font size="2"><br>
Účastník
	je oprávněn od smlouvy odstoupit bez uvedení důvodu. Odstoupení
	od smlouvy musí být učiněno písemně a doručeno elektronicky
	na adresu sijeme.praha8@gmail.com. </font></font></font></p>
<p>
<font color="#000000"><font><font size="2">Účastník
není oprávněn odstoupit jen od části smlouvy. Pokud se nemůže
účastnit jen části kroužku, má organizátor právo mu nabídnout
náhradní termín, pokud je to organizačně možné. Pokud to možné
není, nemá účastník nárok na slevu z ceny kroužku za tu jeho
část, které se nemohl zúčastnit, pokud se s provozovatelem
nedohodli jinak. </font></font></font></p>
<p>
<font color="#000000"><font><font size="2">Odstoupení
od smlouvy:</font></font></font></p><ul><li><font class="wsw-02"><font><font size="2">Více
	než 7 dnů před zahájením kroužku: organizátor si vyhrazuje
	právo na uhrazení 	poplatku ve výši 300Kč za náklady spojené
	s administrativními úkony. Zbytek ceny 	kroužku je organizátor
	povinen vrátit do 14 dnů od termínu odstoupení od smlouvy na
		bankovní účet účastníka.</font></font></font></li><li><p>
	<font color="#000000"><font><font size="2">3
	až 7 dnů před zahájením kroužku: účastník je povinen
	uhradit 50% z celkové ceny 	kroužku. Zbytek ceny kroužku je
	organizátor povinen vrátit do 14 dnů od termínu 	odstoupení od
	smlouvy na bankovní účet účastníka.</font></font></font></p>
	</li><li>
	<font class="wsw-02"><font><font size="2">1
	až 3 dny před zahájením kroužku: účastník je povinen uhradit
	100% z celkové ceny 	kroužku.</font></font></font></li></ul>
<p><font class="wsw-02"><font><font size="2"><strong>11. Ukončení
	kroužku</strong><br>
Absolvování
	kroužku nemá žádné právní následky na zvýšení účastníkovy
	kvalifikace. Kroužek slouží pouze k rozvoji osobních dovedností
	a zručnosti účastníka.</font></font></font></p><p><font size="2"><strong>12. </strong></font><font class="wsw-02"><font><font size="2"><strong>Ochrana
	osobních 
údajů                                                                                                                                                                           
 </strong></font></font></font><font class="wsw-02"><font><font size="2">Přihláškou
	na kroužek účastník vyslovuje souhlas s tím, aby organizátor
	zpracovával a shromažďoval osobní údaje klienta v tomto
	rozsahu: jméno, příjmení, adresu a jeho e-mailovou adresu,
	případně telefonní číslo, a to výhradně pro účely uzavření
	smluvního vztahu a poskytování organizačních informací ke
	kroužku, případně k nabídce pokračování kroužku nebo jiných
	buducích akcí. Úastník má právo kdykoli zažádat písemně,
	telefonicky nebo osobně o vyřazení z databáze našich kontaktů.</font></font></font></p><p><font size="2"><strong>13. </strong></font><font class="wsw-02"><font><font size="2"><strong>Duševní
	vlastnictví</strong></font></font></font><font size="2"><font color="#000000"><font>Účastník
	bere na vědomí, že veškeré poskytnuté</font></font><font color="#ff8000">
	</font><font color="#000000"><font>výukové
	elekt</font></font><font color="#000000"><font>ro</font></font><font color="#000000"><font>nické
	i tištěné materiály a návody jsou autorskými díly a bez
	výslovného souhlasu organizátora je účastník nesmí šířit a
	využívat pro komerční účely.</font></font></font><font class="wsw-02"><font size="2"></font></font></p><p><font class="wsw-02"><font size="2"><font class="wsw-02"><font size="2"><font><strong>14. Závěrečná
	ustanovení</strong></font></font></font><font class="wsw-02"><font color="#000000">	
</font></font></font></font></p><p><font class="wsw-02"><font size="2"><font class="wsw-02"><font color="#000000">
<font size="2"><font color="#000000"><font>Práva
a povinnosti smluvních stran výslovně neupravená těmito SP se
řídí příslušnými ustanoveními občanského zákoníku.</font></font></font></font></font></font></font></p><font class="wsw-02"><font size="2"><font class="wsw-02"><font color="#000000">
<p><br><font class="wsw-02"><font class="wsw-02"></font></font></p></font></font></font></font></div>
</div></div>
</div>
			</div>
		</div>
	</div>

