<!-- Hero -->
<div class="py-5 bg-hero">
  <div class="hero-mask h-100">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="justify-content-start align-items-center">
        <h1 class="mb-3">Kroužek pro domácí švadlenky</h1>
        <h4 class="mb-3">Pojďme se společně zašít...</h4>
      </div>  
    </div>
  </div>
</div>
<!-- Hero -->

<div class="container mt-4">
  <div>
	<ul><li>
	<em><strong>Máte doma šicí stroj, na který se už roky práší, a zvažujete
		opět začít šít?</strong></em></li><li>
	<em><strong>Hledáte kreativní
		koníček, který přinese i užitek?</strong></em></li><li>
	<em><strong>Láká Vás šití,
		ale nevíte kde začít?</strong></em></li><li>
	<em><strong>Bojíte se, že je
		šití příliš složité? 
		</strong></em></li>
		<li>
	<em><strong>Chcete radost ze
		šití sdílet v partě podobně naladěných domácích švadlenek? 
		</strong></em></li>
	</ul>
  </div>	
 <h2>Pokud je odpověď na některou z otázek ANO, přidejte se k nám na kroužek šití.</h2>

<hr class="hr hr-blurry" />

<!-- Thumbnails to courses -->

 <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <%= image_tag 'foto3 orez.webp', alt: 'Kurz pro dospělé', class: 'thumbnail' %>
          <h2>Kroužek pro dospělé</h2>
          <p>Připravili jsme čtyři úvodní lekce šití pro začátečníky. Seznámíme Vás s ovládáním běžného šicího stroje, s overlockem, nejběžnějšími materiály a pomůckami, poradíme, kde sehnat a jak pracovat s moderními střihy. Ušijeme několik výrobků z různých materiálů. </p>
          <%= link_to("Zjistit více", "/clanky/5") %> <%# this direct link has to be replaced by something else in production (see concept for the full version for details)%>  
      </div>
      <div class="col-md-6">
      <%= image_tag 'Foto 7 orez.webp', alt: 'Kurz pro děti', class: 'thumbnail' %>
          <h2>Kroužek pro děti</h2>
          <p>Připravujeme ...</p>
      </div>
   </div>

<!-- Thumbnails to courses -->

<hr class="hr hr-blurry mt-4 mb-4" />




</div>
